In [1]:
# Import pandas library 
import pandas as pd 
import numpy as np

In [133]:
data=[('G3380350N'),('G3380350T')]
FIN=pd.DataFrame(data,columns=['FIN'])

In [159]:

def fin_chk():
    column=['FIN']
    for f in column:
        FIN['first_char']=FIN[f].str[:1]
        FIN['last_char'] =FIN[f].str[-1:]
        FIN['NUM']       =FIN[f].str.extract('(\d+)')
        FIN['length']    =FIN['NUM'].apply(len)
    
        FIN['NUM1']=\
        np.where(FIN['first_char']=='G',(((FIN['NUM'].str[:1].astype(int)*2++FIN['NUM'].str[1:2].astype(int)*7++FIN['NUM'].str[2:3].astype(int)*6)\
            ++(FIN['NUM'].str[3:4].astype(int)*5++FIN['NUM'].str[4:5].astype(int)*4++FIN['NUM'].str[5:6].astype(int)*3)\
            ++FIN['NUM'].str[6:7].astype(int)*2)++4),\
        np.where(FIN['first_char']=='F',((FIN['NUM'].str[:1].astype(int)*2++FIN['NUM'].str[1:2].astype(int)*7++FIN['NUM'].str[2:3].astype(int)*6)\
            ++(FIN['NUM'].str[3:4].astype(int)*5++FIN['NUM'].str[4:5].astype(int)*4++FIN['NUM'].str[5:6].astype(int)*3)\
            ++FIN['NUM'].str[6:7].astype(int)*2),\
            1))
        
        FIN['RMDR']=11-FIN['NUM1'].mod(11)
        
        Condlist= [(FIN.RMDR==1),(FIN.RMDR==2),(FIN.RMDR==3),(FIN.RMDR==4),(FIN.RMDR==5),(FIN.RMDR==6),\
          (FIN.RMDR==7),(FIN.RMDR==8),(FIN.RMDR==9),(FIN.RMDR==10),(FIN.RMDR==11)]
        
        Vlue= ['K','L','M','N','P','Q','R','T','U','W','X']
        
        FIN['CHK_SUM']=np.select(Condlist,Vlue,default='unknown')
        
        FIN['CNT']=np.where(((FIN.first_char=='G') | (FIN.first_char=='F')) & (FIN.length==7) & (FIN.last_char==FIN.CHK_SUM),'1','0')
        
        FIN.drop(['CHK_SUM','RMDR','NUM1','last_char','first_char'],axis=1)
        
        return FIN

In [160]:
fin_chk()

         FIN first_char last_char      NUM  length  NUM1  RMDR CHK_SUM CNT
0  G3380350N          G         N  3380350       7   106     4       N   1
1  G3380350T          G         T  3380350       7   106     4       N   0

In [158]:
FIN.drop(['CHK_SUM','RMDR','NUM1','last_char','first_char'],axis=1)

         FIN      NUM  length CNT
0  G3380350N  3380350       7   1
1  G3380350T  3380350       7   0